.bg-yellow{
  background-color: #eecd42 !important;
}
.text-yellow{
  color: #eecd42 !important;
}
.link{
  text-decoration: underline;
}
.fz-8{
  font-size: 8px !important;
}
.text-dark-green{
  color: #026a6e !important;
}